.c-mainvisual {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.c-mainvisual__left {
    width: 58.1%;

    h1 {
        font-size: 4.4rem;
        font-weight: 400;
        color: $text;
        padding-bottom: 4rem;
    }

    p {
        font-size: 1.6rem;
        font-weight: 400;
        color: $text;
        padding-bottom: 4rem;
    }

    .download {
        color: $white;
        font-size: 2rem;
        font-weight: 400;
        background-color: #ff6464;
        display: block;
        width: 208px;
        padding: 1rem 2rem;
        border-radius: 0.2rem;
        text-align: center;
    }

}

.c-mainvisual__right {
    width: 28.5%;
}


