/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-pickup {
    position: relative;

    .c-pickup__bg {
        background-image: url("../../assets/img/pickup-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 632px;
        padding-top: 49px;
    }

    .c-pickup__header {
        max-width: 496px;
        margin: 0 auto;
        text-align: center;
        color: $white;
        line-height: 1.59;
        padding: 10px 0 9px;
        border-radius: 3px;
        border: 2px solid rgb(172, 222, 218);
    }

    .c-pickup__titleen {
        font-size: 2rem;
        font-weight: 700;
        opacity: 0.5;
    }

    .c-pickup__titlejp {
        font-size: 2.6rem;
        letter-spacing: -2.2px;
        font-weight: 700;
        margin-top: -1px;
    }

    .c-pickup__slideimg {
        position: relative;
        width: 330px;
    }

    .c-pickup__slidelabel {
        font-size: 1.5rem;
        font-weight: 700;
        color: $cyan;
        background: #fff;
        position: absolute;
        right: 0;
        bottom: -1px;
        padding: 4px 9px;
        letter-spacing: -0.2px;
    }

    .c-pickup__bottom {
        max-width: 330px;
        background-color: #fff;
        height: 108px;
        margin-top: -1px;
    }

    .c-pickup__slidetitle {
        font-size: 1.6rem;
        font-weight: 700;
        color: $black;
        padding: 10px 9px 9px;
        letter-spacing: 0.1px;
        font-feature-settings: "palt" 1;
    }

    .c-pickup__slidesubtitle {
        font-size: 1.5rem;
        font-weight: 400;
        color: $black;
        padding: 3px 0 0 10px;
        font-feature-settings: "palt" 1;
        letter-spacing: -0.9px;
    }

    .c-pickup__slider {
        margin-top: 62px;
    }

    .slick-slide {
        margin: 0 7px;
    }

    .c-pickup__arrows {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 1802px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 36.1%;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -15.4%;
        left: 50%;
        transform: translateX(-50%);
        list-style-type: none;
    }

    .slick-dots {
        li {
            margin-left: 20px;

            &:first-child {
                margin: 0;
            }
        }
    }

    .slick-dots button {
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;
        border: none;
        cursor: pointer;
        border-radius: 100%;
        background-color: #fff;
        text-indent: -9999px;
    }

    .slick-active button {
        background-color: #000;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 1px solid #000;
            transform: translate(-50%, -50%);
        }
    }
}
