/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-news {
    padding-top: 44px;

    .c-news__titleen {
        @include titleen;
        color: $cyan;
        text-align: center;
    }

    .c-news__titlejp {
        @include titlejp;
        color: $black;
        text-align: center;
        font-feature-settings: "palt" 1;
        padding-top: 2px;
    }
}
