/* Header
------------------------------------------------------------*/
.l-header {
    .l-header__menuItems {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        font-weight: 500;
        padding: 3.3rem;
        height: 22.8rem;
    }

    a {
        padding: 3.3rem;
    }
}

@include sp (
    .btn2{
        @include btn(120px, 100px);
        
        .icon {
          @include icon(8px, 60px);
          
          &:before{
            @include icon-before(8px, 60px, -20px);
          }
          
          &:after{
            @include icon-after(8px, 60px, 20px);
          }
        }
        
        &.open {
          .icon {
            transition-duration: 0.5s;
            background: transparent;
            
            &:before{
              transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
            }
      
            &:after{
              transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      
)
/* Main menu
------------------------------------------------------------*/
