/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------

//-------------------------------------------------------
.l-container {
    max-width: 856px;
    margin: 0 auto;
    width: 100%;
}

.l-container--780 {
    @extend .l-container;  //co cac thuoc tinh cua container
    max-width: 780px;
}

.l-container--1416 {
    @extend .l-container;
    max-width: 1416px;
}
