<footer class="c-footer">
  <div class='c-footer__top'>
    <div class="l-container--1416">
      <div class='c-footer__banner'>
        <img class='c-footer__centerimg' src="./assets/img/center.png" alt="">
        <div class='c-footer__bannerleft'>
          <img src="./assets/img/left.jpg" alt="">
        </div>
        <div class='c-footer__bannercenter'>
          <div class='c-footer__centercontent'>
            <p class='c-footer__centermsg'>愛媛シゴト図鑑は、これから就職を目指す若者と、
              愛媛の企業をつなぐ役割を担っています。</p>
            <a href="#" class='c-footer__centerbtn c-button'>
              愛媛シゴト図鑑とは<img class="c-button__arrow" src="./assets/img/arrow.svg" alt="掲載・取材依頼の企業様へ">
            </a>
          </div>
        </div>
        <div class='c-footer__bannerright'>
          <img src="./assets/img/right.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <a href="#" class='c-footer__totop'>
    <img src="./assets/img/pagetop.svg" alt="">
  </a>
  <div class='c-footer__botton'>
    <div class='c-footer__main'>
      <div class='l-container c-footer__items'>
        <div class='c-footer__logo'>
          <img src="./assets/img/footer_logo.png" alt="">
          <p class='c-footer__company'>【運営】株式会社愛媛経済レポート</p>
          <p class='c-footer__address'>〒790-0011　愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>
        </div>
        <div class='c-footer__phonenumber'>
          <p class='c-footer__inquiry'>掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
          <p><span class='c-footer__phonelabel'>TEL.</span><a class='c-footer__phone' href="tel:0899471411">089-947-1411</a></p>
          <p class='c-footer__time'>受付時間　9:00〜17:00（平日のみ）</p>
        </div>
        <div class='c-footer__links'>
          <a href="#" class='c-footer__link'>お問い合わせはこちら</a>
          <a href="#" class='c-footer__link'>掲載・取材依頼の企業様へ</a>
        </div>
      </div>
    </div>
    <div class='c-footer__copyright'>
      ©2018 Ehime Keizai Report Inc,
    </div>
  </div>
</footer>
