<footer class="c-footer">
  <div class='c-footer__top'>
    <div class="l-container--1416">
      <div class='c-footer__banner'>
        <img class='c-footer__centerimg' src="./assets/img/center.png" alt="">
        <div class='c-footer__bannerleft'>
          <img src="./assets/img/left.jpg" alt="">
        </div>
        <div class='c-footer__bannercenter'>
          <p class='c-footer__centermsg'></p>
          <a href="#" class='c-footer__centerbtn c-button'>
            <img class="c-button__arrow" src="./assets/img/arrow.svg" alt="掲載・取材依頼の企業様へ">
          </a>
        </div>
        <div class='c-footer__bannerright'>
          <img src="./assets/img/right.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>
