<div class="l-container">
    <div class="c-mainvisual">
        <div class="c-mainvisual__left">
            <h1>Hi, I am John,<br>Creative Technologist</h1>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <a href="#" class="download">Download Resume</a>
        </div>
        <div class="c-mainvisual__right">
            <img src="./assets/img/download.png" alt="">
        </div>
    </div>
</div>