<section class="c-mainvisual">
    <div class='c-mainvisual__slides'>
        <% if (typeof mainvisual != 'undefined') { %>
            <% mainvisual.slides && mainvisual.slides.forEach(slide => { %>
                <div class="c-mainvisual__bg <%= slide.class %>">
                    &nbsp;
                </div>
            <% }) %>
        <% } %>
    </div>
    <div class="l-container c-mainvisual__content">
        <div class="c-mainvisual__mvcatch">
            <img src="./assets/img/mv_catch.png" alt="未来の先輩から生の声が届きました。">
            <h1 class="c-mainvisual__title">未来の先輩から生の声が届きました。</h1>
        </div>
        <div class="c-mainvisual__text">
            2020年卒学生向けの企業紹介サイト
        </div>
    </div>
</section>
