<div class="l-posts">
    <div class="l-container">
        <div class="l-posts__line">
            <p class="l-posts__titleSection">Recent posts</p>
            <a href="#" class="l-posts__view">View all</a>
        </div>

        <div class="l-posts__blockContainer">
            <div class="l-posts__block">
                <h2 class="l-posts__title">Making a design system from scratch</h2>
                <div class="l-posts__block-dateText">
                    <p class="l-posts__date">12 Feb 2020</p>
                    <p class="l-posts__text">Design, Pattern</p>
                </div>
                <p class="l-posts__des">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>

            <div class="l-posts__block">
                <h2 class="l-posts__title">Creating pixel perfect icons in Figma</h2>
                <div class="l-posts__block-dateText">
                    <p class="l-posts__date">12 Feb 2020</p>
                    <p class="l-posts__text">Figma, Icon Design</p>
                </div>
                <p class="l-posts__des">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>

    </div>
</div>