<div class="l-works">
    <div class="l-container">
        <div class="l-works__line">
            <p class="l-works__titleSection">Recent works</p>
        </div>

        <div class="l-works__blockContainer">
            <div class="l-works__blockItem">
                <div class="l-works__blockLeft">
                    <img src="./assets/img/Designing Dashboards.png" alt="">
                </div>
                <div class="l-works__blockRight">
                    <h2 class="l-works__title">Designing Dashboards</h2>
                    <div class="l-works__block-dateText">
                        <p class="l-works__date">2020</p>
                        <p class="l-works__text">Dashboard</p>
                    </div>
                    <p class="l-works__des">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit
                        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

            <div class="l-works__blockItem">
                <div class="l-works__blockLeft">
                    <img src="./assets/img/Vibrant Portraits of 2020.png" alt="">
                </div>
                <div class="l-works__blockRight">
                    <h2 class="l-works__title">Vibrant Portraits of 2020</h2>
                    <div class="l-works__block-dateText">
                        <p class="l-works__date">2018</p>
                        <p class="l-works__text">Illustration</p>
                    </div>
                    <p class="l-works__des">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>

            <div class="l-works__blockItem">
                <div class="l-works__blockLeft">
                    <img src="./assets/img/36 Days of Malayalam type.png" alt="">
                </div>
                <div class="l-works__blockRight">
                    <h2 class="l-works__title">36 Days of Malayalam type </h2>
                    <div class="l-works__block-dateText">
                        <p class="l-works__date">2018</p>
                        <p class="l-works__text">Typography</p>
                    </div>
                    <p class="l-works__des">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>